<div class="modal-header" style="background-color: LimeGreen">
	<h3><%= "Adding #{@player.name}" %></h3>
</div>
<div class="modal-body">
	<div class="error_explanation"></div>
</div>
<div class="modal-footer">
	<%= link_to "Cancel", "#", class: "btn", data: { dismiss: "modal" } %>
</div>
