<% provide(:title, "Edit #{@team.name}") %>
<h1>Editing <%= @team.name %></h1>

<%= render 'form' %>

<%= link_to 'Add Players', players_path, :class => "btn btn-primary" %>
<%= link_to 'Close', @team, :class => "btn btn-small" %>