<% provide(:title, "Teams") %>
<h1>Teams</h1>

<ul class="teams">
  <% @teams.each do |team| %>
    <%= render team %>
    
  <% end %>
</ul>
<br>
<% if admin_user? %>
<%= link_to 'New Team', new_team_path, class: "btn btn-default" %>
<% end %>
