<% provide(:title, 'Help') %>
<h1>Help</h1>
<div>

<h2>Welcome to the Helperby Fantasy Cricket Club App! </h2>

<p>The idea of the fantasy team is to let players and friends
of our club pick who they think will perform well, consistently over the
season. We have seen the idea circulating around a few clubs in the area and it
has not only performed well, but it has raised money for the Cricket Club
itself. </p>

<h2>Competition Rules</h2>

<p>Anyone may enter. Entry is <b>£5 </b>per team, but a player may
have up to 3 teams. </p>

<p>Entries must be received before <b>***********</b></p>

<p>All points are allocated according to the result sheet that
Helperby have posted on the Nidderdale League website. The administrator is not
liable for the information that is not entered or is entered incorrectly. </p>

<p>Points are awarded to all players participating in any Senior Saturday fixture. </p>

<h2>Prizes</h2>

<p>The prize fund depends on the amount of entries. The prizes
will be announced after the entry date. 30% of the entry money will go to the
winner of the competition. 15% will go to second place, and 5% to third place.
The remaining 50% will be donated to Helperby Cricket Club. </p>

<h2>How do I start a team?</h2>

<p>Anyone may log on to the website to view the League table,
but to create a team you need a specially generated code. </p>

<p>To buy a code it costs <b>£5</b>. The money needs to be
given to a member of the Messenger household, or posted to: St Cuthbert's, Main Street, Helperby, York, YO61 2NS.</p>

lilicking add to team.  After adding 11 players and confirming your team and <b><i>choosing your captain</i></b> you are ready for the game. </p>

<h2>Rules for making a team</h2>
<ul>
	<li>Teams must consist of 11 players.</li>
	<li>Total team value must not exceed *******</li>
	<li>All teams must have a minimum of 2 juniors in the side. The
juniors may be in any desired playing position to make up your 11 man team.</li>
	<li>Each team must have: 4 batsmen, 4 bowlers, 2 all-rounders and 1
wicket keeper.</li>
	<li>Each team will be allowed to make 1 substitution per week. </li>
	<li>When substitutions are made, the points that the exiting player has accrued up until that date, will remain with the team. The incoming player will then start gaining points from that date. Points earned before being selected will not be transferred over.</li>
	<li>Substitutions must be made before 23:59 on the Friday. </li>
	<li>If a match is abandoned, XXXXXXXXXXXXXXXXXXXXX </li>
</ul>

<h2>Rules Of The Game</h2>

<p>The idea of the game is to pick the 11 players who will
score the most points over the season. Points are scored in a few ways:</p>
<ol>
<li>Batsmen:</li>
	<ol type="a">
		<li>1 Run = 1 Point</li>
		<li>50 Runs = Bonus 25 Points</li>
		<li>100 Runs = Bonus 50 Points</li>
		<li>1 Duck = -10 Points</li>
	</ol>
<li>Bowlers:</li>
	<ol type="a">
		<li>1 Wicket = 15 Points</li>
		<li>4 Wickets = 25 Bonus Points</li>
		<li>6 Wickets = 50 Bonus Points</li>
	</ol>
<li>Fielders and Keepers: </li>
	<ol type="a">
		<li>Catches = 15 Points</li>
		<li>Run Outs = 15 Points</li>
		<li>Stumpings = 15 Points</li>
		<li>Dropped Catches = -10 Points </li>
	</ol>
</ol>

<p><b><i>Your Captain will score double points. </i></b></p>


</div>
