<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Helperby Fantasy Cricket</h1>
	<h2>
  		This is the home page for the
  		Helperby Fantasy Cricket application.
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Developed with Ruby on Rails"), 'http://rubyonrails.org/' %>