<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h1>Welcome to Helperby Fantasy Cricket, <%= @token.realname %></h1>
	<p>To sign up, follow <a href="<%= @url %>">this link</a></p>
	<p>Your registration code is: <%= @token.tokenstr %>. Your ticket number is <%= @token.ticketno %>. If something goes
	wrong, this information will help the administrator to work out how to fix it.</p>
	<p>Regards,<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- Helperby Fantasty Cricket Administrator</p>
</body>
</html>
