<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h1>Welcome to Helperby Fantasy Cricket, <%= @token.realname %></h1>
	<p>You have been invited to sign up using this registration code: <%= @token.tokenstr %></p>
	<p>To sign up, follow <a href="<%= @url %>">this link</a></p>
	<p>Regards,<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-- Helperby Fantasty Cricket Administrator</p>
</body>
</html>
