<% provide(:title, "Player Scores") %>
<h1>Player Scores</h1>

<%= render 'index' %>

<br>

<% if admin_user? %>
	<%= link_to 'New Player score', new_match_innings_player_score_path, class: "btn btn-default" %>
<% end %>
<%= link_to "Back", match_innings_path(@match, @innings), class: "btn btn-default" %>
