<% provide(:title, "Team Player Scores") %>
<h1>Player Scores for <%= @team.name %></h1>
<p>Click on a player's name to see more detailed statistics for that player.  Click on a date to see all the player scores for that innings.</p>

<%= render 'index' %>

<br>

