<tr>
  <td>
    <%= link_to usertab.name, usertab %>
  </td>

  <td class="team-name">
    <%= usertab.teams.any? ? link_to(usertab.teams.first.name, usertab.teams.first) : "-"
    %>
  </td>
  <td class="text-right">
    <%= usertab.teams.any? ? usertab.teams.first.players.sum(:total) : 0
    %>
  </td>
  <td class="timestamp">Updated <%= time_ago_in_words(usertab.updated_at) %> ago.</td>
</tr>