<li>
  <span class="name"><%= link_to user.name, user %></span>
  <span class="timestamp">
    Updated <%= time_ago_in_words(user.updated_at) %> ago.
  </span>
  <% if current_user.id == user.id %>
    <span><%= link_to 'Edit', edit_user_path(user), class: "btn btn-small" %></span>
    <span><%= link_to 'Destroy', user, method: :delete,
  	  data: { confirm: 'Are you sure?' }, class: "btn btn-small" %></span>
  <% end %>    
  <br>
</li>
