<% if @user.teams.any? %>
  <%# redirect_to(team_path(@user.teams.first)) %>
<% else %>
  <% provide(:title, @user.name) %>
  <div class="row">
    <aside class="span4">
      <section>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
      <section>
        <% if current_user and current_user.id == @user.id and ! @user.teams.any? %>
          <%= render 'shared/team_form' %> 
        <% end %>
      </section>
    </aside>
  </div>
<% end %>
