<li>
  <span class="name"><%= player.name %></span>
  <span class="age_category"><%= player.age_category %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(player.created_at) %> ago.
  </span>
</li>