<h1>Listing players</h1>

<%= will_paginate %>

<ul class="players">
  <% @players.each do |player| %>
    <%= render player %>
  <% end %>
</ul>
<br>

<%= will_paginate %>


<br>

<%= link_to 'New Player', new_player_path %>
