<footer class="footer">
<div class="container-full">
  <small>
    Helperby Fantasy Cricket by Tom and John Messenger, <%= ENV["HEROKU_RELEASE_NAME"] %>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</div>
</footer>
